.my-show-grid:hover {
    background: #DDD;
}
.row-selected {
    background-color: #D9EDF7 !important;
}
.row-editable {
    cursor: pointer;
}
.row-header {
    font-weight: bold;
}
.row-odd {
    background-color: white;
}
.row-even {
    background-color: #EEE;
}
.my-show-grid {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    min-height: 30px;
    line-height: 30px;
}
.my-show-grid-header {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    min-height: 30px;
    line-height: 30px;
}

/* 
.my-show-grid:hover [class*="span"] {
.my-show-grid [class*="span"] {
*/