.my-show-grid:hover {
    background: #DDD;
}
.row-odd {
    background-color: #EEE;
}
.row-even {
    background-color: white;
}

.my-show-grid {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    min-height: 30px;
    line-height: 30px;
}

/* 
.my-show-grid:hover [class*="span"] {
.my-show-grid [class*="span"] {
*/