<?xml version="1.0" encoding="UTF-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">

<!--     https://developers.google.com/appengine/docs/java/tools/appstats -->
  <filter>
    <filter-name>appstats</filter-name>
    <filter-class>com.google.appengine.tools.appstats.AppstatsFilter</filter-class>
    <init-param>
      <param-name>calculateRpcCosts</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>AsyncCacheFilter</filter-name> 
    <filter-class>com.googlecode.objectify.cache.AsyncCacheFilter</filter-class>
  </filter>

    
  <filter-mapping>
      <filter-name>appstats</filter-name>
      <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping> 
    <filter-name>AsyncCacheFilter</filter-name> 
    <url-pattern>/*</url-pattern> 
  </filter-mapping> 

    
  <!-- Servlets -->
  <servlet>
    <servlet-name>books</servlet-name>
    <servlet-class>pgu.server.service.BooksServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>adminBooks</servlet-name>
    <servlet-class>pgu.server.service.AdminBooksServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>pgu.server.service.LoginServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>jobImportBooks</servlet-name>
    <servlet-class>pgu.server.job.JobImportBooks</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>jobDeleteBooks</servlet-name>
    <servlet-class>pgu.server.job.JobDeleteBooks</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>appstats</servlet-name>
    <servlet-class>com.google.appengine.tools.appstats.AppstatsServlet</servlet-class>
  </servlet>

  <servlet-mapping>
      <servlet-name>appstats</servlet-name>
      <url-pattern>/appstats/*</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
    <servlet-name>books</servlet-name>
    <url-pattern>/pgu_books/books</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>adminBooks</servlet-name>
    <url-pattern>/pgu_books/adminBooks</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/pgu_books/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>jobImportBooks</servlet-name>
    <url-pattern>/cron/jobImportBooks</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>jobDeleteBooks</servlet-name>
    <url-pattern>/cron/jobDeleteBooks</url-pattern>
  </servlet-mapping>
  
  
  <welcome-file-list>
    <welcome-file>Pgu_books.html</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>SystemServiceServlet</servlet-name>
    <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
    <init-param>
      <param-name>services</param-name>
      <param-value/>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>SystemServiceServlet</servlet-name>
    <url-pattern>/_ah/spi/*</url-pattern>
  </servlet-mapping>
  
    <security-constraint>
        <web-resource-collection>
            <url-pattern>/cron/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    
    <security-constraint>
        <web-resource-collection>
            <url-pattern>/pgu_books/adminBooks/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <url-pattern>/appstats/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    
</web-app>